* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --font_principal-family: 'IBM Plex Mono', monospace;
    --font_principal-size: 3rem; 
    --font_p-family: 'Roboto', sans-serif;
    --font_p-size: 1.8rem;
    --font_quotes-family: 'Lumanosimo', cursive;
    --font_quotes-size: 2rem;
    font-size: 62.5%;
  }

  body {
    color: #333333;
    background-color: rgb(250, 245, 240);
    min-height: 100vh;
    width: 100%;
  }

  .container {
    display: grid;
    grid-template: 1fr 2fr auto / 1fr;
    grid-template-areas: "navbar"
                         "card"
                         "footer";
    grid-gap: 2.5%;
  }

  .navbar {
    background-color: black;
    color:white;
    font-family: var(--font_principal-family);
    font-size: var(--font_p-size) ;
  }

  .footer {
    display: flex;
    flex-direction:row;
    justify-content:space-around; 
    align-items: center;
    background-color: black;
    color: whitesmoke;
    font-family: var(--font_principal-family);
    font-size: 1.6rem;
    grid-column: 1 / -1;
    align-items:self-start;
    text-decoration: none;
  }
  
  .footer__description-li {
    list-style: none;
    padding: 1rem 0rem 1rem 0;
  }
   
  
  .footer__contact {
    padding: 1rem 0rem 1rem 1rem;
  }
  
  .footer__contact-a {
    color:white
  }

  .a__footer {
    text-decoration: underline;
    color: white;
  }
  
  a:hover {
    font-style: italic;
    font-weight: bold;
  }
 

  