* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --font_principal-family: 'IBM Plex Mono', monospace;
    --font_principal-size: 3rem; 
    --font_p-family: 'Roboto', sans-serif;
    --font_p-size: 2rem;
    --font_quotes-family: 'Lumanosimo', cursive;
    --font_quotes-size: 2.4rem;
    font-size: 62.5%;
  }

  body {
    color: #333333;
    background-color: rgb(250, 245, 240);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .navbar {
    background-color: black;
    font-family: var(--font_p-family);
    font-size: var(--font_p-size);
  }

  .a__buttom {
    display: flex;
    color:white;
    text-decoration: none;
    align-content:  center;
    justify-content: center;
    padding: 6% 0 6% 0;
  }

  .a__butoom:hover {
    font-style: italic;
  }

  .container__cards{
   display: flex;
   flex-direction: column;
   flex: 1;
   perspective: 3500px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem 2rem 4rem; 
    box-shadow: 12px 11px 9px 2px rgba(156,156,156,1);
    cursor: pointer;
  }

  .card__creative-head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 1vh 2vw 1vh 2vw; 
  }

  .name__card {
    font-size:var(--font_principal-size);
    font-family: var(--font_principal-family);
  }

  .country__card {
    font-size:var(--font_p-size);
    font-family: var(--font_principal-family);
    color: rgba(156,156,156,1);
  }

  .card__creative-body {
    position:relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transform-style: preserve-3d; 
    transition: 1s;
  }

  .card__creative-bio {
    text-align: start;
    margin: 0rem 2rem 0rem 2rem;
    font-size: var(--font_p-size);
    font-family: var(--font_p-family);
    backface-visibility: hidden;
  }

  .card__creative-img {
  position:absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  }

  .card__img-flip {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center ;
  }


  .card_flip > .card__creative-body {
    transform: rotateY(180deg);
    transition: 1s;
  }

  .card__icon-flip {
    display: flex;
    justify-content:flex-end;
    padding: 1vh 2vw 1vh 0;
    height: 5rem;
    align-items: center;
  }

  .card__icon-flip > img {
    height: 3rem;
  }

  .footer {
    display: flex;
    flex-direction:row;
    justify-content:space-around; 
    align-items: center;
    background-color: black;
    color: whitesmoke;
    font-family: var(--font_principal-family);
    font-size: 1.6rem;
    grid-column: 1 / -1;
    align-items:self-start;
    text-decoration: none;
    padding-top: 6%;  
  }
  
  .footer__description-li {
    list-style: none;
    padding: 1rem 0rem 1rem 0;
  }
   
  
  .footer__contact {
    padding: 1rem 0rem 1rem 1rem;
  }
  
  .footer__contact-a {
    color:white
  }

  .a__footer {
    text-decoration: underline;
    color: white;
  }
  
  a:hover {
    font-style: italic;
    font-weight: bold;
  }
 

  