@media (min-width: 1024px) {
    :root {
      --font_principal-family: 'IBM Plex Mono', monospace;
      --font_principal-size: 3rem; 
      --font_p-family: 'Roboto', sans-serif;
      --font_p-size: 1.8rem;
      --line-height-p: 3rem;
      --font_quotes-family: 'Lumanosimo', cursive;
      --font_quotes-size: 2.4rem;
      --cols: 10rem 6rem minmax(0, 1fr) 6rem 10rem;
      font-size: 62.5%;
        
      }

      .header__title-sub {
        padding-top: 1rem;
        font-size: var(--font_p-size);
      }

      .button__creatives {
        font-size: var(--font_p-size);
      }

      .footer {
        font-size: 2.4rem;
        padding-top: 6%;
        padding-bottom: 3%;
      }

      .content > p:first-child {
        margin-top: 4rem;
      }

      .content__text-quotes {
        color:dimgray;
        grid-column: 2 / -2;
        font-size: 3.2rem;
        line-height: 4.6rem;
      }

      .header {
        background-color: white;
        display:flex;
      } 
      
      .header__img {
        width: 50%;
        height: 100%;
        overflow:hidden;
        object-fit:cover;
        object-position:center; 
      }
      
      .header__title {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        width: 50%;
        height: 100%;
      }
      
      .header__main-title {
        font-family: var(--font_principal-family);
      }
      
      .header__title-sub {
        padding-top: 1rem;
        font-family: var(--font_principal-family);  
      }

      .button__creatives {
        margin-bottom: 20%;
      }

      .footer {
        justify-content:space-around; 
        font-size: 1.4rem;
        padding-top: 2%;
      }
}
